<h1>Bienvenue sur {{ title }}</h1>


<router-outlet></router-outlet>
<!-- 
<h1 [ngStyle]="titleStyle">Bienvenue dans la tour des {{ heroes.length }} héros, {{ username }}</h1>



<p>
    <label for="InputUsername">Votre nom :<input id="InputUsername" type="text" name="name" [(ngModel)]="username"></label>
</p>


<p>Vos héros :</p>

<ul>
    <li *ngFor="let hero of heroes">{{ hero }} <small *ngIf="hero == username">(c'est moi :))</small></li>
</ul>


<label for="InputHeroName">Héros à ajouter : <input type="text" name="nameOfTheHero" id
  ="InputHeroName" [(ngModel)]="heroToAdd"></label>
<p><button (click)="addHero()">Ajouter un héros</button></p>


<p><button (click)="removeHero()">Supprimer un héros</button></p> -->